.q-s-tittle{
    h1 {
        text-transform: uppercase;
        color: $color1;
        
    }



}

.title-h1 {
    .tittle {
      h1 {
        text-transform: uppercase;
        color: $color1;
        padding-left: 50px;
  
  
      }
    }
  }